// color varibles


$headerColor: #E1DBC9;
$mainColor: #746b62;
$footerColor: #e1d6c9;
$white: #fff;
$yelowishText: #e4dbd5;
$darkGrey: rgb(75, 75, 75);

// font varibles

$fontFirst:'Poppins', sans-serif;
$fontSecond:'Work Sans', sans-serif;


// media query varibales

$medium: 785px;

// flex mixins

@mixin flexCenterColumn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
    
}
@mixin flexSpaceBetween {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
@mixin flexSpaceBetweenColumn {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    justify-content: flex-end;
    
}
@mixin flexSpaceAround {
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: pointer;
    font-family: $fontFirst;
    transition: ease 1s;
}

.header{

    width: 100%;
    height: 150px;
    @include flexSpaceBetween();
    background-color: $headerColor;
    transition: ease 0.5s;
    padding: 5%;

    @media screen and (min-width: $medium) {
            
        padding-right: 0;
      }
    
    h1{
        font-family: $fontSecond;
        font-size: 1.25rem;

        @media screen and (min-width: $medium) {
            
            font-size: 1.75rem;;
          }
    }

    .nav{
        @include flexSpaceBetweenColumn();
        width: 40%; 
        transition: none;  
        
        .dropbtn {
            
            color: rgb(63, 63, 63);
            padding: 5px;
            font-size: 0.8rem;
            border: none;
            background-color: none;
            
          }
          
          .dropdown {
            position: relative;
            display: inline-block;
          }
          
          .dropdown-content {
            display: none;
            position: absolute;
            background-color: $mainColor;
            color: #fff;
            
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;

          }
          
          .dropdown-content a {
            color: rgb(252, 252, 252);
            padding: 12px 16px;
            text-decoration: none;
            font-size: 0.8rem;
            display: block;
            &:hover {
                color: $white;
            }
          }
          
          
          
          .dropdown:hover .dropdown-content {display: block;}
          
          
}

}

.main{
    width: 100%;
    height: 1500px;
    background-image: linear-gradient($headerColor, #46392d);
    
    @include flexCenterColumn();
    padding: 5%;


    .main-part{
        height: 25%;
        width: 100%;
        color: $white;
        padding: 3%;
        
        h4{
            font-family: $fontSecond;
            font-size: 2rem;
            font-weight: 100;
        }
        p{
            color: $yelowishText;
            margin-top: 5%;
            margin-left: 5%;
        }
        ol{
            margin-left: 5%;
            margin-top: 5%;

            li{
                color: $yelowishText;
            }
            
        }
    }
    #mp1{
        background-color: #665a50;

    }
    #mp2{
        background-color: #55493e;
    }
    #mp3{
        background-color: #46392d;
    }
    #mp4{
        background-color: #241c15;
    }

}
.footer{
    width: 100%;
    height: 60px;
    background-color: $footerColor;
    @include flexCenter();
    a{
        text-decoration: none;
        color: $darkGrey;
    }
    
}